@import "tailwindcss";

:root {
    font-family: 'Space Grotesk', sans-serif;
}

@theme {
    --font-sans: 'Space Grotesk', system-ui, sans-serif;
    --color-brand-blue: #3B82F6;
    --color-brand-cyan: #38BDF8;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #0F172A;
    /* Slate 900 */
}